//Font  COLORS
$color-white: #fff;
$color-black: #000;
$color-dark-white:aliceblue;
$color-coral: rgb(255, 99, 43);
$color-primary: #55c56a;

// Gradient colos
$color-primary-light: #53cc3e;
$color-primary-dark: #12805b;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: rgb(214, 214, 214);
$color-grey-light-1: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2:#333;
$color-grey-dark-3:#222;

// GRID SYSTEM
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

//Card
$tour-card-height: 50rem;
// FONT 

$default-font-size: 1.6rem;