.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/hero-large.jpg");
  background-size: cover;
  background-position: bottom;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
  position: relative;

  @include respond(tab-port){
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/hero.jpg");
  background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  @include respond(phone){
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/hero-small.jpg");
  background-size: cover;
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  &__logo-container {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
    height: 5.2rem;
    border-radius: 50%;
  }

  &__logo {
    height: 4.5rem;
  }
  &__logo-container:hover {
    animation: LogoAnimOnHover 1s ease-in-out;
  }

  &__text-box {
    color: $color-white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
  }
}
